# WIFI CONFIG
WIFI_SSID=YOUR_SSID_HERE
WIFI_PASSWORD=YOUR_PASSWORD_HERE

# NETWORK CONFIG
BRIDGE_IP=192.168.1.XX
BRIDGE_PORT=8888

# HARDWARE CONFIG
PILOT_NAME=PILOT_NAME_HERE
DEVICE_ID=SILVER_ARROW_01
DEBUG_MODE=true
